@media (max-width: 990px) {
  .work-content p {
    margin-bottom: 30px !important;
  }
  .work-content div.row {
    margin-top: 0px !important;
  }
  .work-content h1 {
    font-size: 46px;
  }
  .directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
